Skip to content
This repository  
Pull requests
Issues
Gist
 @melodicodyssey
 Unwatch 1
  Star 0
  Fork 1
melodicodyssey/Steve-Portfolio---Redesigned
forked from azureowl/Steve-Portfolio---Redesigned
 branch: master  Steve-Portfolio---Redesigned/StevePortfolio.css
@azureowlazureowl an hour ago Edit copy, separated CSS and js in new files
1 contributor
RawBlameHistory     212 lines (210 sloc)  4.329 kB
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 16px;
  }
  .page-wrapper {
    width: 62.5em;
    padding: 0;
    margin: 0 auto;
    text-align: left;
    background-color: #ffffff;
  }
  .name-banner {
    width: 47.938em;
    height: 12.500em;
    margin-top: 1.250em;
    float: right;
    background: #ffffff url("images/name-banner2.jpg") no-repeat 0%;
  }
  .navbar {
    width: 20.8%;
    height: 76.250em;
    padding-right: 1.375em;
    border-right: 0.188em solid #aaa9a9;
  }
  .main {
    width: 76.7%;
    height: 62.500em;
    float: right;
  }
  #my-pic {
    width: 200px;
    height: 200px;
    margin-top: 1.250em;
    border-radius: 50%;
    border: 2px solid #436D23;
  }
  h2 {
    font-size: 1.375em;
    color: #436D23;
  }
  a {
    text-decoration: none;
    color: rgb(98, 255, 70);
  }
  li {
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  li:hover {
    color: #aaa9a9;
  }
  ul {
    list-style: none;
    padding-left: 1.250em;
  }
  .professional {
    margin: 0;
    padding-top: 2.813em;
  }
  .container {
    margin-left: 1em;
  }
  .info-image {
    position: relative;
    width: 50em;
    height: 43.750em;
    background: #ffffff url("images/forest.jpg") no-repeat center center;
  }
  .info-contact, .info-bio, .info-gnosis, .info-aquaintly, .info-helio, .info-share {
    position: absolute;
    width: 50em;
    height: 43.750em;
    display: none;
  }
  .screen {
    position: absolute;
    width: 50em;
    height: 43.750em;
    background-color: rgba(0,0,0,.4);

  }
  .info-share img {
    position: relative;
    width: 100%;
    z-index: 2;
  }
  .info-aquaintly img {
    position: relative;
    width: 100%;
    z-index: 2;
  }
  .info-gnosis img {
    position: relative;
    width: 100%;
    z-index: 2;
  }
 
  .contact-buttons-container {
    margin-left: 0.938em;
  }
  .contact_btn {
    padding-right: 0.625em;
  }
  .github_btn {
    width: 2em;
    height: 2em;
    float: left;
    background: url("images/github_icon.png") no-repeat;
  }
  .github_btn:hover {
    background: url("images/github_icon_green.png") no-repeat;
  }
  .mail_btn {
    width: 2em;
    height: 2em;
    float: left;
    background: url("images/email_icon.png") no-repeat;
  }
  .mail_btn:hover {
    background: url("images/email_icon_green.png") no-repeat;
  }
  .linkedin_btn {
    width: 2em;
    height: 2em;
    float: left;
    background: url("images/linkedin_icon_black.png") no-repeat;
  }
  .linkedin_btn:hover {
    background: url("images/linkedin_icon_green.png") no-repeat;
  }
  .twitter_btn {
    width: 2em;
    height: 2em;
    float: left;
    background: url("images/twitter_icon_black2.png") no-repeat;
  }
  .twitter_btn:hover {
    background: url("images/twitter_icon_green.ico") no-repeat;
  }
  .pointer {
    cursor: pointer;
  }
  p {
    position: relative;
    color: #ffffff;
    margin-left: 20px;
  }
  p.name {
    font-size: 2em;
    margin-bottom: -12px;
    padding-top: 10px;
  }
  p.github {
    background: url("images/github_icon_black2.png") no-repeat;
    padding: 0.625em 0 0 0;
    margin-top: 3.125em
  }
  span.github-text {
    padding-left: 2.5em;
  }
  p.email {
    background: url("images/email_icon.png") no-repeat;
    padding: 0.625em 0 0 0;
  }
  span.email-text {
    padding-left: 2.5em;
  }
  p.linkedin {
    background: url("images/linkedin_icon_black.png") no-repeat;
    padding: 0.625em 0 0 0;
  }
  span.linkedin-text {
    padding-left: 2.5em;
  }
  p.twitter {
    background: url("images/twitter_icon_black2.png") no-repeat;
    padding: 0.625em 0 0 0;
  }
  span.twitter-text {
    padding-left: 2.5em;
  }
  p.blog {
    background: url("images/wordpress_icon.png") no-repeat;
    padding: 0.625em 0 0 0;
  }
  span.blog-text {
    padding-left: 2.5em;
  }
  p.resume {
    background: url("images/pdf_icon_black.png") no-repeat;
    padding: 0.625em 0 0 0;
  }
  span.resume-text {
    padding-left: 2.5em;
  }
  footer {
    width: 100%;
    margin: 0;
    padding: .8em 0 1em 0;
    padding-left: 18em;
    font-size: 0.750em;
    font-style: italic;
    background-color: black;
    color: rgb(162, 204, 112);
  }
  .divider {
    font-style: normal;
  }
Status API Training Shop Blog About Help
© 2015 GitHub, Inc. Terms Privacy Security Contact