       <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Stephen Bauer</h1>
        <h3>Web Developer</h3>
        <p>Making the most of my education to contribute to your team!</p>
        <!-- <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p> -->
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Acquaintly</h2>
          <p>A CRM constructed by <a href="https://github.com/paninapress">Nina Pacifico</a> and myself as our final project for General Assembly's Web Development Immersive course.  Made using AngularJS, Ruby/Rubyon Rails, LinkedIn API, Omniauth, Devise.</p>
          <p><a class="btn btn-default" href="http://acquaintly.herokuapp.com/" role="button">Go to app &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Audiophile</h2>
          <p>An audio sharing application that is the culmination of efforts by <a href="https://github.com/kaifius">Kai Hofius</a>, <a href="https://github.com/pazzissima">Sofya Nagaslaeva</a>, <a href="https://github.com/JSchulhof">Jay Shculhof</a> and myself, as our group project for GA's WDI course. Made using Ruby/Ruby on Rails, JavaScript, Google Maps API, Sunspot, Devise.</p>
          <p><a class="btn btn-default" href="http://audiofile.herokuapp.com/" role="button">Go to app &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Gnosis</h2>
          <p>An RSS feed aggregator and note-recording application I made as my first project for GA's WDI course.  Made using Ruby/Ruby on Rails, Feedly API, Omniauth.</p>
          <p><a class="btn btn-default" href="http://radiant-oasis-5288.herokuapp.com/start" role="button">Go to app &raquo;</a></p>
        </div>
      </div>